body {

    height: 100%;
    width: 100%;

    padding-top: 0px;

    /*background-color: #CCCCCC;*/
}

/*#bgimage {*/
    /*background: url(https://farm9.staticflickr.com/8630/15737865564_462fcbbffb_o.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*position: fixed;*/
    /*/!*padding-top: -100px;*!/*/
    /*/!*margin: ;*!/*/
/*}*/

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}
/*#container {*/
    /*/!*top: 100px;*!/*/
    /*/!*margin-top: 80px !important;*!/*/
    /*border: none;*/
    /*filter: none;*/
    /*box-shadow: none;*/
    /*/!*padding-top: 100px !important;;*!/*/
    /*background-color: transparent;*/
    /*padding-bottom: 100px;*/
/*}*/

/*#logo {*/
    /*/!*padding-top: 3px;*!/*/
    /*padding-left: 7px;*/
    /*height: 24px;*/
    /*width: auto;*/
/*}*/

/*.spacer {*/
    /*height: 100px;*/
/*}*/

/*.spacerdown {*/
    /*/!*height: 600px;*!/*/
/*}*/

.fullsize {
    /*position: fixed;*/
    height: 100%;
    width: 100%;
}

.inscroll {
    overflow-y: auto;
    /*white-space:nowrap;*/
}

#GraphContainer {
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    /*background-color: #00d6b2;*/
    /*background-color: #0087ba;*/
    /*border: 10px solid #000000;*/
    /*z-index: 0;*/
    /*position: absolute;*/
}

#GraphControls {
    /*position: ;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*position: absolute;*/
}

#ParentGraphContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

#menu {
    height: 100% !important;
    align-self: stretch;
    margin: 0px;
    padding: 0px;
    /*padding: 0px;*/
    /*width: 25%;*/
    /*background-color: #0039A6;*/
}

#graph {
    align-self: stretch;
    width: 100%;
    height: 100%;
    /*background-color: #D2DDF2;*/
}

.grimg {
    bottom: 0;
    right: 0;
    /*height: 100%;*/
    /*display: flex !important;*/
    position: fixed;
    height: 200px;
    width: 300px;
    background: url(http://x.gleb.pw/grap.png) 100% 100% no-repeat;
    background-size: cover;
}

#flexbox {
    height: 100%;
    display: flex !important;
    display: -webkit-box
}

.gc:hover {
    border: 0px;
}

:hover {
    border: 0px solid red;
}