<div class="ui vertical menu left overlay visible"
     ng-controller="KpiCtrl">
    <a class="item" ng-repeat="kpi in list"
            ng-click="k.select(kpi)">
        <i class="{{kpi.icon}} icon "></i>
        {{kpi.name}}
    </a>
</div>