<!--<div class="ui celled grid">-->
    <!--<div class="row">-->
        <!--<div class="six wide column">-->
            <!--<div id="menu" ng-include="template.kpiList"></div>-->
        <!--</div>-->
        <!--<div class="column">-->
            <!--<div id="graph" ng-include="template.visGraph"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div id="flexbox">
<div id="menu" ng-include="template.kpiList"></div>
<div id="graph" ng-include="template.visGraph"></div>
<div ng-include="template.toolPanel"></div>
</div>