<div class="fullsize" ng-controller="GraphCtrl" id="ParentGraphContainer">
    <!--<div id="GraphContainer">-->
    <!--</div>-->
    <div>
        <div class="ui segment" id="GraphControls">
            <div class="ui action input">
                <select ng-model="linet"
                        ng-change="gfx.linechange()"
                        class="ui compact selection dropdown">
                    <option value="0.1">10%</option>
                    <option value="0.2">20%</option>
                    <option value="0.3">30%</option>
                    <option value="0.4">40%</option>
                    <option value="0.5">50%</option>
                    <option value="0.6">60%</option>
                    <option value="0.7">70%</option>
                    <option value="0.8">80%</option>
                    <option value="0.9">90%</option>
                    <option value="1">100%</option>
                </select>

                <div class="ui buttons">
                    <button class="ui red button" ng-click='gfx.setcolor("red")'><i class="plus icon"></i></button>
                    <button class="ui blue button" ng-click='gfx.setcolor("blue")'><i class="plus icon"></i></button>
                    <button class="ui green button" ng-click='gfx.setcolor("green")'><i class="plus icon"></i></button>
                    <button class="ui button" ng-click='gfx.del()'><i class="minus icon"></i></button>
                    <button class="ui button" ng-click='gfx.move()' ><i class="move icon"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="grimg"></div>
    <div id="GraphContainer" class="gc">
    </div>
</div>
